<h1>Méteo </h1>
    <mat-form-field class="example-full-width">
      <mat-label>Entrez la ville de votre choix</mat-label>
    <input matInput placeholder="Ex. Paris" [(ngModel)]="nomVille"> 
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="getINSEE()">
        <mat-icon>search</mat-icon></button>
<div>Température actuelle: </div>
{{temperature}}°C
<div>Probabilité pluie:</div>
{{pluie}}%
<div>Vitesse du vent:</div>
{{vent}}km/h
<div>Temps actuel:</div>
{{ listeConditions.get(conditionsClimatiques) }}